/* Undo grabby set by default in manage.css */
table {
  cursor: default;
}

/* states select picker */
#states {
  height: 160px;
}

/* div with score asset selection interface */

/* Kick-off button */
#kickoff-button {
  text-transform: none;
  font-size: 20px;
  min-height: 50px;
}

.with-status-border {
   border: 2px solid;
}

.map {
  width: 600px;
  height: 400px;
}
