.box{
  width:10px;
  height:10px;
  border: 1px solid black;
}

.editor {
  border: 1px solid black;
}

.editable {
  cursor: pointer;
}

.selected {
  background-color: var(--green-6);
}

.delete-disaster-button {
  right: 20px;
  position: absolute;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  cursor: grab;
}

th {
  text-align: left;
}

td {
  overflow: hidden;
  white-space: nowrap;
}

table, th, td {
  border: 1px solid grey;
  padding: 5px 10px;
}

.na {
  font-style: italic;
  color: #888888;
}

.radio-label {
  margin-left: 5px;
}

.mandatory {
  color: red;
}