body {
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.g-sign-in .button {
  display: inline-block;
  background: #4285f4;
  color: white;
  width: 190px;
  border-radius: 5px;
  white-space: nowrap;
}

.g-sign-in .button:hover {
  cursor: pointer;
}

.g-sign-in .label {
  font-weight: bold;
}

.g-sign-in .icon {
  background: url('/g-icon.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  border-right: #2265d4 1px solid;
}

.g-sign-in .button-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
}

.map-container {
  position: relative;
  width: 640px;
  height: 480px;
  margin-bottom: 10px;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.table-container {
  position: relative;
  display: table;
  min-height: 200px;
  width: 745px;
}

/* Form css */

.formTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.input-container {
  margin-bottom: 10px;
}

form {
  padding: 5px 10px 5px 5px;
}

label {
  font-size: 14px;
  text-transform: capitalize;
}

input {
  border: solid #BEC2C1 1px;
  border-radius: 4px;
  margin: 0 10px;
  outline: none;
  padding: 3px;
}

input:hover {
  border-color: #6B9B8F;
}

input:focus {
  border-color: #095845;
}

input[type='range'] {
  vertical-align: middle;
}

input[type='button'], 
button {
  background-color: #095845;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  margin: 5px 15px 5px 0;
  padding: 8px;
  text-transform: capitalize;
}

input[type='button']:hover,
button:hover {
  background-color: #6B9B8F;
}

#toggles span {
  color: #6B9B8F;
  font-weight: bold;
}

/* Loading indicator css */

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.map-container .loader .ellipsis {
  bottom: 5%;
  margin: auto auto 0;
}

.loader .ellipsis {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ellipsis div:nth-child(1) {
  left: 6px;
  animation: ellipsis1 0.6s infinite;
}
.ellipsis div:nth-child(2) {
  left: 6px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(3) {
  left: 26px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(4) {
  left: 45px;
  animation: ellipsis3 0.6s infinite;
}
@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.main-content {
  box-sizing: border-box;
  padding: 16px;
  width: 75%;
  position: absolute;
  right: 0;
}

/** Sidebar styling */

.sidebar {
  box-shadow: 3px 0 10px -2px #BEC2C1;
  height: 100%;
  left: 0;
  max-width: 400px;
  min-width: 150px;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 25%;
  z-index: 1; 
}

.sidebar-content {
  box-sizing: border-box;
  height: calc(100% - 45px);
  min-height: 200px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.sidebar-heading {
  color: #fff;
  background-color: #9DBCB5;
  font-size: 16px;
  height: 30px;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  width:100%;
}

/** Responsive styles */

@media (max-width: 1066px) { 
  .sidebar {
    bottom: 0;
    box-shadow: none;
    max-width: none;
    position: relative;
    width: 100%; 
  }

  .main-content {
    width: 100%;
    position: relative;
  }
}
