body {
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.g-sign-in .button {
  display: inline-block;
  background: #4285f4;
  color: white;
  width: 190px;
  border-radius: 5px;
  white-space: nowrap;
}

.g-sign-in .button:hover {
  cursor: pointer;
}

.g-sign-in .label {
  font-weight: bold;
}

.g-sign-in .icon {
  background: url('/g-icon.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  border-right: #2265d4 1px solid;
}

.g-sign-in .button-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
}

.map-container {
  position: relative;
  width: 640px;
  height: 480px;
  margin-bottom: 10px;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.table-container {
  position: relative;
  display: table;
  min-height: 200px;
  width: 745px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.loader .spinner {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loader .spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: loader-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loader .spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader .spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader .spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
